<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>Newspaper</title>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
	
	<!-- Owl Carousel Assets -->
    <link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/static/owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="/static/js/jquery-2.1.1.js"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script src="/static/js/bootstrap.min.js"></script>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/static//static/js/html5shiv.js"></script>
        <script src="/static//static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<header>
	<!--Top-->
	<nav id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<strong>Welcome to Us!</strong>
				</div>
				<div class="col-md-6">
					<ul class="list-inline top-link link">
						<li><a href="/newsManage/archive"><i class="fa fa-home"></i> Home</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	
	<!--Navigation-->
    <nav id="menu" class="navbar container">
		<div class="navbar-header">
			<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
			<a class="navbar-brand" href="/static/#">
				<div class="logo"><span>Newspaper</span></div>
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
				<li><a href="/newsManage/archive">要闻</a></li>
                <li><a href="/newsManage/archive?type=1">NBA</a></li>
                <li><a href="/newsManage/archive?type=2">国际足球</a></li>
                <li><a href="/newsManage/archive?type=3">中国足球</a></li>
                <li><a href="/newsManage/archive?type=4">CBA</a></li>
                <li><a href="/newsManage/archive?type=4">综合</a></li>

			</ul>
		</div>
	</nav>
</header>
	<div class="featured container">
	</div>
	<!-- Header -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page container">
		<div class="row">
			<div id="main-content" class="col-md-12">
				<div class="box">
					<div class="line"></div>
					<h1 class="vid-name"><a href="#">{{ newsinfo.newsTile }}</a></h1>
					<div class="info">
						<span><i class="fa fa-calendar"></i>2{{ newsinfo.newsDateTime }}</span>
					</div>
                    <span id="mainArt">{{  pageHtml }}</span>
				</div>
				
			</div>
		</div>
	</div>

	<footer>
		<div class="copy-right">
			<p>xx毕业设计</p>
		</div>
	</footer>
	<!-- Footer -->
	
	<!-- JS -->
	<script src="/static/owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 5,
        itemsDesktop : [1199,4],
        itemsDesktopSmall : [979,4]
      });
{#       $('#mainArt').append('{{  newsinfo.content }}')#}
    });
    </script>
	
</body>
</html>
